{% import 'admin/macros/utils.html' as utils %}

{% macro render_table(columns, url_generator, current) %}
  <table class="table table-striped table-bordered table-hover model-list">
    <thead>
      <tr>
        <th headers="select" width="1"></th>
        <th headers="actions" width="120">Actions</th>
        {% for column in columns %}
          {% if current == column %}
            {% set _column = '-' + column %}
          {% else %}
            {% set _column = column %}
          {% endif %}
          <th headers="{{ column }}">
            <a href="{{ url_generator(order_by=_column) }}"> {{ column }} </a>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ caller() }}
    </tbody>
  </table>
{% endmacro %}

{% macro render_row(item) %}
  {{ caller() }}
{% endmacro %}

{% macro render_field(item, name, value) %}
  <td headers="{{ name }}"> {{ value }} </td>
{% endmacro %}
