{% import 'crud/macros/menu.html' as Menu %}

{% block save_template_context %}
  {% if display is defined %}
    {% set __ = display.store_context() %} {# hide None #}
  {% endif %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ NAME }}</title>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('.static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/select2.min.js') }}"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/select2.min.css') }}" rel="stylesheet">
    <!-- Custom styles for  template -->
    <link href="{{ url_for('.static', filename='css/custom.css') }}" rel="stylesheet">

    <!-- Bootstrap Select2 -->
    <script type="text/javascript">
      $(document).ready(function() {
        $('select').select2();
      });
    </script>
  </head>
  <body>
    {% block menu %}
      {{ Menu.menu_tree(tree) }} {# require child template to import macros/head_menu.html #}
    {% endblock %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
  </body>
</html>
