{% extends "admin/base.html" %}

{# Macros #}
{% import 'admin/utils.html' as utils %}

{# Body #}
{% block content %}
  {% set __ = display.store_context() %} {# hide None #}
  {{ utils.render_roles_buttons(roles, ['create']) }}
  {% call utils.render_table(display.get_rules('list').columns) %}
    {% for item in items %}
      <tr>
        <td> {{ utils.render_roles_buttons(roles, ['read', 'update', 'delete'], item) }} </td>
        {% for rule in display.get_rules('list') %}
          {{ rule(item) }}
        {% endfor %}
      </tr>
    {% endfor %}
  {% endcall %}
{% endblock %}
