{% extends "admin/base.html" %}

{# Macros #}
{% import 'admin/utils.html' as utils %}

{# Body #}
{% block content %}
  {% set __ = display.store_context() %} {# hide None #}
  {{ utils.render_roles_buttons(roles, ['create']) }}
  {% call utils.render_table(rules.columns) %}
    {% for item in items %}
      <tr>
        <td>
          {{ utils.render_roles_buttons(roles, item=item) }}
        </td>
        {% for rule in rules %}
          {{ rule(form) }}
        {% endfor %}
      </tr>
    {% endfor %}
  {% endcall %}
{% endblock %}
