{% macro pager(page, pages, url_generator) %}
  {% if pages > 1 %}
    {% set min = page - 3 %}
    {% set max = page + 4 %}

    {% if min < 1 %}
        {% set max = max - min %}
    {% endif %}
    {% if max >= pages %}
        {% set min = min - max + pages %}
    {% endif %}

    {% if min < 1 %}
        {% set min = 1 %}
    {% endif %}
    {% if max >= pages %}
        {% set max = pages %}
    {% endif %}

    {% if min > 1 %}
      <li>
        <a href="{{ url_generator(page=1) }}">&laquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="javascript:void(0)">&laquo;</a>
      </li>
    {% endif %}

    {% if page > 1 %}
      <li>
        <a href="{{ url_generator(page=page - 1) }}">&lt;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="javascript:void(0)">&lt;</a>
      </li>
    {% endif %}

    {% for p in range(min, max + 1) %}
      {% if page == p %}
        <li class="active">
          <a href="javascript:void(0)">{{ p }}</a>
        </li>
      {% else %}
        <li>
          <a href="{{ url_generator(page=p) }}">{{ p }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page < pages %}
      <li>
        <a href="{{ url_generator(page=page + 1) }}">&gt;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="javascript:void(0)">&gt;</a>
      </li>
    {% endif %}

    {% if max < pages %}
      <li>
        <a href="{{ url_generator(page=pages) }}">&raquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="javascript:void(0)">&raquo;</a>
      </li>
    {% endif %}
  {% endif %}
{% endmacro %}
