{# -HEADERS-------------------------------------- #}
{% macro render_header(obj, text) %}
  <h3>{{ text }}</h3>
{% endmacro %}

{% macro render_field(obj, field_name, field_value) %}
  <span> {{ field_value }} </span>
{% endmacro %}

{# -LIST----------------------------------------- #}
{% macro render_table(columns) %}
  <table border="1">
    <thead>
      <tr>
        <td>Actions</td>
        {% for column in columns %}
          <td>
            {{ column }}
          </td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ caller() }}
    </tbody>
  </table>
{% endmacro %}

{% macro render_table_field(obj, field_name, field_value) %}
  <td> {{ field_value }} </td>
{% endmacro %}

{% macro render_roles_buttons(roles, item=none, roles_keys=('read', 'update', 'delete')) %}
  {% for type in roles_keys %}
    {% for role, endpoint in roles[type] %}
      {% if item is not none %}
        <a href="{{ url_for(endpoint, pk=item.id) }}">{{ role }}</a>
      {% else %}
        <a href="{{ url_for(endpoint) }}">{{ role }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endmacro %}

{# -FORM----------------------------------------- #}
{% macro render_form(obj) %}
  {% for field in obj %}
    {{ render_form_field(none, none, field) }}
  {% endfor %}
{% endmacro %}

{% macro form_tag(obj, action=none) %}
  <form action="{{ action or '' }}" method="POST" role="form" class="admin-form form-horizontal" enctype="multipart/form-data">
    {{ caller() }}
  </form>
{% endmacro %}

{% macro render_form_field(obj, field_name, field_value) %}
  <div class="form-group">
    <label for="{{ field_value.id }}" class="col-md-2 control-label">
      {{ field_value.label.text }}
    </label>
    <div class="col-md-10'">
      {{ field_value }}
      <p class="help-block">
        {{ field_value.description }}
      </p>
      <ul class="help-block input-errors">
        {% for error in field_value.errors if error is string %}
          <li>
            {{ error }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro render_form_buttons(cancel_url) %}
  <hr>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10 submit-row">
      <input type="submit" class="btn btn-primary" value="Save" />
      {% if cancel_url %}
        <a href="{{ cancel_url }}" class="btn btn-danger" role="button">Cancel</a>
      {% endif %}
    </div>
  </div>
{% endmacro %}
