{# -HEADERS-------------------------------------- #}
{% macro render_header(obj, text) %}
    <h3>{{ text }}</h3>
{% endmacro %}

{# -FORM----------------------------------------- #}
{% macro form_tag(obj, action=None) %}
    <form action="{{ action or '' }}" method="POST" role="form" class="admin-form form-horizontal" enctype="multipart/form-data">
      {{ caller() }}
    </form>
{% endmacro %}

{% macro render_form_field(obj, field, caller=None) %}
  <div class="form-group">
    <label for="{{ field.id }}" class="col-md-2 control-label">
      {{ field.label.text }}
    </label>
    <div class="col-md-10'">
      {{ field }}
      <p class="help-block">{{ field.description }}</p>
      <ul class="help-block input-errors">
        {% for error in field.errors if error is string %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% if caller %}
      {{ caller(obj, field) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_form_buttons(cancel_url) %}
    <hr>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10 submit-row">
        <input type="submit" class="btn btn-primary" value="Save" />
        {% if cancel_url %}
          <a href="{{ cancel_url }}" class="btn btn-danger" role="button">Cancel</a>
        {% endif %}
      </div>
    </div>
{% endmacro %}
