{% extends "admin/base.html" %}

{# Macros #}
{% import 'admin/macros/head_menu.html' as head_menu %}
{% import 'admin/macros/utils.html' as utils %}
{% import 'admin/macros/table.html' as table %}
{% import 'admin/macros/forms.html' as forms %}
{% import 'admin/macros/pagination.html' as pagination %}

{# Body #}
{% block header %}
  <div class="container">
    {{ utils.roles_buttons_create(roles) }}

    {% call utils.dropmenu('With selected') %}
      {# forms.render_micro(action_form, save_name='Do it', skip=['ids']) #}
    {% endcall %}

    {% call utils.dropmenu('Filter by', right=true) %}
      {# forms.render_micro(filter_form, save_name='Filter', method='GET') #}
    {% endcall %}
  </div>
{% endblock %}

{% block content %}
  {% call table.render(rules.columns, url_generator=url_generator, current=order_by) %}
    {% for item in items %}
    <tr>
      <td> <input type="checkbox" name="ids" value="{{ item.id }}" /> </td>
      <td> {{ utils.roles_buttons(roles, item=item) }} </td>
      {% for rule in rules %}
        {{ rule(item) }}
      {% endfor %}
    </tr>
    {% endfor %}
  {% endcall %}

  {{ pagination.render(page, pages, total, url_generator) }}
{% endblock %}
