{% extends "admin/base.html" %}

{# Macros #}
{% import 'admin/macros/head_menu.html' as head_menu %}
{% import 'admin/macros/utils.html' as utils %}
{% import 'admin/macros/table.html' as table %}
{% import 'admin/macros/forms.html' as forms %}
{% import 'admin/macros/pagination.html' as pagination %}

{# Body #}
{% block header %}
  <div class="container">
    {{ utils.roles_buttons_create(roles) }}
    <div class="btn-group"><!-- Actions !-->
      <button class="btn btn-default btn-sm dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        With selected <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{ forms.render_micro(action_form, save_name='Do it', skip=['ids']) }}
      </ul>
    </div><!-- Actions !-->

    <div class="btn-group pull-right"><!-- Filters !-->
      <button class="btn btn-default btn-sm dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Filter by <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{ forms.render_micro(filter_form, save_name='Filter', method='GET') }}
      </ul>
    </div><!-- Filters !-->
  </div>
{% endblock %}

{% block content %}
  {% set __ = display.store_context() %} {# hide None #}
  {% call table.render(rules.columns, url_generator=url_generator, current=order_by) %}
    {% for item in items %}
    <tr>
      <td> <input type="checkbox" name="ids" value="{{ item.id }}" /> </td>
      <td> {{ utils.roles_buttons(roles, item=item) }} </td>
      {% for rule in rules %}
        {{ rule(item) }}
      {% endfor %}
    </tr>
    {% endfor %}
  {% endcall %}

  {{ pagination.render(page, pages, total, url_generator) }}
{% endblock %}
