{# -MENU----------------------------------------- #}
{% macro menu_tree(tree) %}
  <ul>
    {% for name, endpoint, childrens in tree %}
      <li>
        <a href="{{ url_for(endpoint) }}">{{ name }}</a>
      </li>
      {{ menu_tree(childrens) }}
    {% endfor %}
  </ul>
{% endmacro %}

{# -LIST----------------------------------------- #}
{% macro render_table(columns, url_generator, current) %}
  <table border="1">
    <thead>
      <tr>
        <td>Actions</td>
        <td>Markers</td>
        {% for column in columns %}
          {% if current == column %}
            {% set _column = '-' + column %}
          {% else %}
            {% set _column = column %}
          {% endif %}
          <td>
            <a href="{{ url_generator(order_by=_column) }}"> {{ column }} </a>
          </td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ caller() }}
    </tbody>
  </table>
{% endmacro %}

{% macro render_table_field(obj, field_name, field_value) %}
  <td> {{ field_value }} </td>
{% endmacro %}

{% macro render_roles_buttons(roles, item=none, role_types=('read', 'update', 'delete')) %}
  {% for type in role_types %}
    {% for role, endpoint in roles[type] %}
      {% if item is not none %}
        <a href="{{ url_for(endpoint, pk=item.id) }}">{{ role }}</a>
      {% else %}
        <a href="{{ url_for(endpoint) }}">{{ role }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endmacro %}

{# -HEADERS-------------------------------------- #}
{% macro render_header(obj, text) %}
  <h3>{{ text }}</h3>
{% endmacro %}

{# -DATA----------------------------------------- #}
{% macro render_field(obj, field_name, field_value) %}
  <div> {{ field_name }} {{ field_value }} </div>
{% endmacro %}

{# -FORM----------------------------------------- #}
{% macro render_form(form, action='', method='POST') %}
  {% call form_tag(action=action, method=method) %}
    {% for field in form %}
      {{ render_form_field(form, field.name, field) }}
    {% endfor %}
    {{ render_form_buttons(cancel_url='') }}
  {% endcall %}
{% endmacro %}

{% macro form_tag(form, action=none, method='POST') %}
  <form action="{{ action or '' }}" method="{{ method }}" role="form" class="admin-form form-horizontal" enctype="multipart/form-data">
    {{ caller() }}
  </form>
{% endmacro %}

{% macro render_form_field(form, field_name, field_value) %}
  <div class="form-group">
    <label for="{{ field_value.id }}" class="col-md-2 control-label">
      {{ field_value.label.text }}
    </label>
    <div class="col-md-10'">
      {{ field_value }}
      <p class="help-block">
        {{ field_value.description }}
      </p>
      <ul class="help-block input-errors">
        {% for error in field_value.errors if error is string %}
          <li>
            {{ error }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro render_form_buttons(cancel_url) %}
  <hr>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10 submit-row">
      <input type="submit" class="btn btn-primary" value="Save" />
      {% if cancel_url %}
        <a href="{{ cancel_url }}" class="btn btn-danger" role="button">Cancel</a>
      {% endif %}
    </div>
  </div>
{% endmacro %}
