{% extends "admin/base.html" %}

{# Macros #}
{% import 'admin/utils.html' as utils %}
{% import 'admin/pager.html' as pager %}

{# Body #}
{% block content %}
  {% set __ = display.store_context() %} {# hide None #}
  {{ utils.render_roles_buttons(roles, role_types=['create']) }}
  <hr>
  {{ utils.render_form(filter_form, method='GET') }}
  {% call utils.render_table(rules.columns, url_generator=url_generator, current=order_by) %}
    {% for item in items %}
      <tr>
        <td>
          {{ utils.render_roles_buttons(roles, item=item) }}
        </td>
        {% for rule in rules %}
          {{ rule(item) }}
        {% endfor %}
      </tr>
    {% endfor %}
  {% endcall %}
  <div>
    <ul>
      {{ pager.pager(page, pages, url_generator) }}
    </ul>
    total: {{ total }}
  </div>
{% endblock %}
