{% extends "admin/base.html" %}

{# Macros #}
{% import 'admin/macros/head_menu.html' as head_menu %}
{% import 'admin/macros/utils.html' as utils %}
{% import 'admin/macros/forms.html' as forms %}
{% import 'admin/macros/data.html' as data %}

{# Body #}
{% block content %}
  {% call data.render() %}
    {% for rule in rules %}
      {{ rule(item) }}
    {% endfor %}
  {% endcall %}

  {% call forms.form_tag(action='') %}
    {{ forms.buttons(cancel_url='', add_another=false, continue_editing=false, submit_text="Confirm", type='danger') }}
  {% endcall %}
{% endblock %}
