{% extends "admin/base.html" %}

{# Macros #}
{% import 'admin/macros/head_menu.html' as head_menu %}
{% import 'admin/macros/utils.html' as utils %}
{% import 'admin/macros/table.html' as table %}
{% import 'admin/macros/forms.html' as forms %}
{% import 'admin/macros/pagination.html' as pagination %}

{# Body #}
{% block content %}
  <div class="btn-group pull-right"><!-- Filters -->
    {% if show_filter_form %}
      {% call forms.render_form(filter_form, method='GET', show_buttons=false) %}
        {% if 'search' in filter_form %}
          {{ filter_form.search() }}
        {% endif %}
        {% call utils.dropmenu('Filter by', right=true) %}
          {{ forms.render_inline_fields(filter_form, skip=['search']) }}
        {% endcall %}
      {% endcall %}
    {% endif %}
  </div><!-- Filters -->

  {{ utils.roles_buttons_create(roles) }}

  {% call forms.render_form(action_form, use_field_set=false, show_buttons=false) %}
    {% if show_action_form %}
      <div class="btn-group"><!-- Actions -->
        {% call utils.dropmenu('With selected') %}
          {{ forms.render_inline_fields(action_form, skip=['ids']) }}
        {% endcall %}
      </div><!-- Actions -->
    {% endif %}

    {% call table.render_table(rules.columns, url_generator=url_generator, current=order_by) %}
      {% for item in items %}
      <tr>
        <td> <input type="checkbox" name="ids" value="{{ item.id }}" /> </td>
        <td> {{ utils.roles_buttons(roles, item=item) }} </td>
        {{ rules(item) }}
      </tr>
      {% endfor %}
    {% endcall %}
  {% endcall %}

  {{ pagination.render(page, pages, total, url_generator) }}
{% endblock %}
