{% import 'crud/macros/roles.html' as Roles %}

{% macro render_row(model, roles) %}
  <tr>
    <td> <input type="checkbox" name="ids" value="{{ model.id }}" /> </td>
    <td> {{ Roles.buttons(roles, model=model) }} </td>
    {{ caller() }}
  </tr>
{% endmacro %}

{% macro render_field(model, name, value) %}
  <td headers="{{ name }}"> {{ value }} </td>
{% endmacro %}


{% macro render_table(columns, url_generator, current) %}
  <table class="table table-striped table-bordered table-hover model-list">
    <thead>
      <tr>
        <th headers="select" width="1"></th>
        <th headers="actions" width="120">Actions</th>
        {% for column in columns %}
          {{ _column_order_by(column, url_generator, current)  }}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {{ caller() }}
    </tbody>
  </table>
{% endmacro %}


{% macro _column_order_by(column, url_generator, current) %}
  {% if current == column %}
    {% set column_order = '-' + column %}
  {% else %}
    {% set column_order = column %}
  {% endif %}
  <th headers="{{ column }}">
    <a href="{{ url_generator(order_by=column_order) }}"> {{ column }} </a>
  </th>
{% endmacro %}
