{% macro dropmenu(name, right=false) %}
  <button class="btn btn-default btn-sm dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    {{ name }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu"> {{ caller() }} </ul>
{% endmacro %}

{% macro header(__, text) %}
  <div class="page-header">
    <h2> {{ text }} </h2>
  </div>
{% endmacro %}

{% macro box(__, text) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"> {{ text }} </h4>
    </div>
    <div class="panel-body"> {{ caller() }} </div>
  </div>
{% endmacro %}

{% macro foldable(__, text, id) %}
<div class="panel panel-default">
  <div id="heading-{{ id }}" class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a href="#collapse-{{ id }}" role="button"
         data-toggle="collapse"
         aria-expanded="true"
         aria-controls="collapse-{{ id }} }">
        {{ text }}
      </a>
    </h4>
  </div>
  <div id="collapse-{{ id }}" class="panel-collapse collapse" role="tabpanel"
       aria-labelledby="heading-{{ id }}">
    <div class="panel-body"> {{ caller() }} </div>
  </div>
</div>
{% endmacro %}
